# Screen {
#   align: center top;
# }

#form {
  width: 70;
  max-width: 90;
  padding: 1 2;
  border: round $accent;
}

#title {
  text-style: bold;
  margin-bottom: 1;
}

Input {
  margin: 0 0 1 0;
}

#actions {
  margin: 0 0 1 0;
  align: right middle;
}

#status {
  color: $text-muted;
}

#status.success {
  color: $success;
}

#status.error {
  color: $error;
}

#sidebar {
  background: blue 50%;
  border: wide white;
  max-width: 20;
}

#login-screen {
  align: center middle;

  #form {
    height: 33;
    width: 63;
    background: blue 50%;
    border: wide white;
  }

  #username, #password, #api-url, #login {
    width: 40;
    margin: 0 0 1 8;
  }
}


MenuScreen {
  align: center top;

  #menu-title {
    width: 80;
    height: 1;
    text-align: center;
  }
  #menu-header {
    background: blue 50%;
    width: 80;
    height: 5;
    border: wide white;
  }

  #menu-owner-container {
    background: red 50%;
    height: 1;
    width: 80;
  }
  #menu-owner {
    background: yellow 50%;
  }

  #menu-items-container {
    background: green 50%;
    width: 80;
    content-align: center top;
    margin: 1 0 1 0;
    Button {
      width: 100%;
    }
  }

  #menu-footer-container {
    background: purple 50%;
    height: 1;
  }
}

CommentFileScreen {
  align: center top;

  #comment-file-name {
    width: 80;
    height: 1;
    text-align: center;
  }
  #comment-file-header {
    background: blue 50%;
    width: 80;
    height: 5;
    border: wide white;
  }
  .comment-post-date {
    margin-top: 1;
    background: green 50%;
    width: 80;
    height: 1;
    text-align: right;
  }
  .comment-post-from-line {
    width: 80;
    height: 2;
  }
}